#broke {
    color: red;
    display: none;
}
#upgradesdiv {
    position: absolute;
    top: 0;
    right: 10px;
}
#moneydiv {
    position: absolute;
    top: 0;
    left: 10px;
}
#golden {
    display: none;
    color: gold;
    font-size: small;
    height: 50px;
    width: 150px;
    background-color: darkgreen;
    border: goldenrod solid 10px;
}
#golden:active {
    color: gold;
    font-size: x-small;
    height: 40px;
    width: 140px;
    background-color: darkgreen;
    border: goldenrod solid 9px;
}
#diamond {
    display: none;
    color: dodgerblue;
    font-size: small;
    height: 40px;
    width: 250px;
    background-color: rebeccapurple;
    border: blue dotted 5px;
}
#diamond:active {
    color: dodgerblue;
    font-size: x-small;
    height: 30px;
    width: 180px;
    background-color: rebeccapurple;
    border: blue dotted 5px;
}
